In [1]:
import pandas as pd

In [6]:
new_cases = pd.read_csv('../data/Public-Dataset-County-New.csv')
new_cases

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,TOTAL_PROBABLE,NEW_PROBABLE,POS_TESTS,NEW_POS_TESTS,...,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_INACTIVE_RECOVERED,TOTAL_INACTIVE_RECOVERED,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED
0,3/5/2020,Shelby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3/5/2020,Williamson,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/6/2020,Davidson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3/6/2020,Williamson,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3/7/2020,Williamson,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22794,11/12/2020,Wayne,1673.0,9.0,1634.0,7.0,39.0,2.0,1801.0,8.0,...,0.0,7.0,NaN,NaN,7.0,43.0,2.0,1623.0,0.0,20.0
22795,11/12/2020,Weakley,1792.0,12.0,1580.0,6.0,212.0,6.0,1846.0,9.0,...,0.0,29.0,NaN,NaN,3.0,150.0,9.0,1613.0,0.0,37.0
22796,11/12/2020,White,1465.0,13.0,1317.0,7.0,148.0,6.0,1728.0,7.0,...,0.0,17.0,NaN,NaN,-9.0,151.0,22.0,1297.0,0.0,63.0
22797,11/12/2020,Williamson,8892.0,115.0,8469.0,109.0,423.0,6.0,9814.0,111.0,...,0.0,64.0,NaN,NaN,-8.0,1163.0,123.0,7665.0,0.0,150.0
22798,11/12/2020,Wilson,5832.0,81.0,5661.0,69.0,171.0,12.0,6679.0,72.0,...,1.0,68.0,NaN,NaN,12.0,704.0,68.0,5060.0,1.0,147.0

In [5]:
new_cases = new_cases.fillna(0)

In [7]:
davidson = new_cases[new_cases['COUNTY']=='Davidson']

In [8]:
davidson

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,TOTAL_PROBABLE,NEW_PROBABLE,POS_TESTS,NEW_POS_TESTS,...,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_INACTIVE_RECOVERED,TOTAL_INACTIVE_RECOVERED,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED
2,3/6/2020,Davidson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3/8/2020,Davidson,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3/9/2020,Davidson,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3/10/2020,Davidson,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3/11/2020,Davidson,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22332,11/8/2020,Davidson,35139.0,264.0,34759.0,253.0,380.0,11.0,43397.0,266.0,...,0.0,365.0,NaN,NaN,113.0,2590.0,151.0,32184.0,1.0,1241.0
22429,11/9/2020,Davidson,35655.0,516.0,35263.0,504.0,392.0,12.0,43956.0,559.0,...,1.0,366.0,NaN,NaN,335.0,2925.0,180.0,32364.0,1.0,1242.0
22526,11/10/2020,Davidson,35938.0,283.0,35528.0,265.0,410.0,18.0,44278.0,322.0,...,3.0,369.0,NaN,NaN,-20.0,2905.0,300.0,32664.0,3.0,1245.0
22623,11/11/2020,Davidson,36414.0,476.0,35995.0,467.0,419.0,9.0,44826.0,548.0,...,5.0,374.0,NaN,NaN,141.0,3046.0,330.0,32994.0,7.0,1252.0
22720,11/12/2020,Davidson,36757.0,343.0,36315.0,320.0,442.0,23.0,45186.0,360.0,...,0.0,374.0,NaN,NaN,8.0,3054.0,335.0,33329.0,5.0,1257.0

In [9]:
davidson['NEW_CASES'].sum()

36756.0

In [11]:
davidson[davidson['DATE']=='10/29/2020']

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,TOTAL_PROBABLE,NEW_PROBABLE,POS_TESTS,NEW_POS_TESTS,...,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_INACTIVE_RECOVERED,TOTAL_INACTIVE_RECOVERED,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED
21362,10/29/2020,Davidson,32679.0,196.0,32375.0,188.0,304.0,8.0,40552.0,219.0,...,-1.0,345.0,NaN,NaN,-51.0,2411.0,248.0,29923.0,3.0,1192.0